footer{
    background-color: rgb(194, 222, 255);
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    grid-area: pie;
}